{% extends "base_login.html" %} 
{% load static from staticfiles%}

{% block conteudo%}

 <div class="jumbotron">
	<div class="container">
		<div class="site-wrapper">.
	      	<div class="site-wrapper-inner">
		        <div class="cover-container">
					<div class="inner cover">
					<br><br>
						<div class="rows">
							<div class="col-md-4">
								<br>
								<div class="col-md-6">
									<img src="{% static "img/foto_perfil.jpg" %}" alt="Foto_perfil" class="img-responsive img-circle">
								</div>
								<div class="col-md-6">
									<b>Nome:</b> Felipe Casseb
									<br>
									<b>Cidade:</b> São José dos Campos
									<br>
									<b>Distância:</b> 5km
									<hr>
									<b>Tel:</b> (12) 99664-9876
									<br>
									<b>Email:</b> felipe.casseb@gmail.com
								</div>
								<div class="col-md-12">
									<hr>
									<b>Posso</b>
									<br>
									Manutenção - Formatação
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<br>
									Manutenção - Elétrica
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<hr>
									<b>Quero</b>
									Escolar - Curso de Inglês
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<br>
									Escolar - Aula de Violão
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<br><br>
								</div>
							</div>	
							<div class="col-md-4">
								<br>
								<div class="col-md-6">
									<img src="{% static "img/foto_perfil.jpg" %}" alt="Foto_perfil" class="img-responsive img-circle">
								</div>
								<div class="col-md-6">
									<b>Nome:</b> Felipe Casseb
									<br>
									<b>Cidade:</b> São José dos Campos
									<br>
									<b>Distância:</b> 5km
									<hr>
									<b>Tel:</b> (12) 99664-9876
									<br>
									<b>Email:</b> felipe.casseb@gmail.com
								</div>
								<div class="col-md-12">
									<hr>
									<b>Posso</b>
									<br>
									Manutenção - Formatação
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<br>
									Manutenção - Elétrica
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<hr>
									<b>Quero</b>
									Escolar - Curso de Inglês
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<br>
									Escolar - Aula de Violão
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<br><br>
								</div>
							</div>	
							<div class="col-md-4">
								<br>
								<div class="col-md-6">
									<img src="{% static "img/foto_perfil.jpg" %}" alt="Foto_perfil" class="img-responsive img-circle">
								</div>
								<div class="col-md-6">
									<b>Nome:</b> Felipe Casseb
									<br>
									<b>Cidade:</b> São José dos Campos
									<br>
									<b>Distância:</b> 5km
									<hr>
									<b>Tel:</b> (12) 99664-9876
									<br>
									<b>Email:</b> felipe.casseb@gmail.com
								</div>
								<div class="col-md-12">
									<hr>
									<b>Posso</b>
									<br>
									Manutenção - Formatação
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<br>
									Manutenção - Elétrica
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<hr>
									<b>Quero</b>
									Escolar - Curso de Inglês
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<br>
									Escolar - Aula de Violão
									<span class="glyphicon glyphicon-gift pull-right" aria-hidden="true" style="margin: 0 0 0 0;"></span>
									<span class="glyphicon glyphicon-briefcase pull-right" aria-hidden="true" style="margin: 0 15px 0 0;"></span>
									<br><br>
								</div>
							</div>
							<div class="col-md-12">
								<form method="get" action="http://127.0.0.1:8000/busca">
									<button type="submit" class="btn btn-success btn-lg btn-block" >
										<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 
										Visualizar mais 3
									</button>
								</form>
							</div>	
 						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

{% endblock %}