{% extends "base_cheia.html" %} 
{% load static from staticfiles%}

{% block conteudo%}

 <div class="jumbotron">
	<div class="container">
		<div class="site-wrapper">.
	      	<div class="site-wrapper-inner">
		        <div class="cover-container">
					<div class="inner cover">
						<div class="rows">
							<div class="col-md-6">
								<img src="{% static "img/logo_muito_grande.png" %}" class="img-responsive" alt="Logo Eskamb">
							</div>
							<div class="col-md-6">
								<div class="rows">
									<div class="col-md-12">
										<a href="http://127.0.0.1:8000/cadastro_pessoa_fisica"><img src="{% static "img/botao_autonomo.png" %}" class="img-responsive" alt="Logo Eskamb"></a>
										<br><br>
									</div>
									<div class="col-md-12">
										<a href="http://127.0.0.1:8000/cadastro_pessoa_juridica"><img src="{% static "img/botao_empresa.png" %}" class="img-responsive" alt="Logo Eskamb"></a>
									</div>
								</div>
							</div>
 						</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div>

{% endblock %}