{% extends "base_cheia.html" %} {% load static from staticfiles%} 
{%block conteudo%}

<div class="jumbotron">
	<div class="container">
		<div class="site-wrapper">
			.
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="inner cover">
						<div class="rows">
							<div class="col-md-6">
								<img src="{% static "img/logo_muito_grande.png" %}" class="img-responsive"
									alt="Logo Eskamb">
							</div>
							<div class="col-md-6">
								<form method="POST">{% csrf_token %}
										{{ formUsuario.as_ul }}
										{{ formContato.as_ul }}
										{{ formPessoa.as_ul }}
										<div class="col-md-12">
											<button type="submit" class="btn btn-success btn-block">Cadastrar</button>
										</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
