{% extends "base_login.html" %} {% load static from staticfiles%} 
{%block conteudo%}

<div class="jumbotron">
	<div class="container">
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">
					<div class="inner cover">
						<div class="rows">
							<div class="col-md-4">
								<br><br>
									<a href="#"><img src="{% static "img/foto_perfil.jpg" %}" alt="Foto_perfil" class="img-circle img-responsive" height="380" width="380" style="margin-right: 20px;"></a>
							</div>
							<div class="col-md-8">
								<br><br>
								<form method="get" action="http://127.0.0.1:8000/editar_perfil">
									<button type="submit" class="btn btn-warning btn-lg btn-block" >
										<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 
										<br>
										Alterar Dados Cadastrais
										<br>
									</button>
								</form>
								<br><br><br>
							</div>
							<div class="col-md-8">
									<br>
									<form method="get" action="http://127.0.0.1:8000/quero_faco">
									<button type="submit" class="btn btn-success btn-lg btn-block">
										<span class="glyphicon glyphicon-gift" aria-hidden="true"></span> 
										<br>
										O que Quero?
										<br><br>
										<span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> 
										<br>
										O que Faço?
										<br>
									</button>
									</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
